# Unity
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
.vsconfig

# Автогенерируемые файлы
*.csproj
*.sln
*.userprefs

# Дополнительные исключения
Assets/AssetStoreTools*
.vs/
.gradle/
ExportedObj/
.consulo/